.label-selector {
  background-color: var(--grey-200);
  padding: 0.5rem 1rem;
  border-radius: 999px;
  width: fit-content;
  color: var(--white);
  cursor: pointer;
}

.selected {
  background-color: var(--primary-400);
}
