.form-input-label {
  font-weight: 600;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-field input {
  height: 2rem;
}

.form-field textarea {
  height: 5rem;
}

.form-field-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.input-image-container {
  width: 100%;
}
.input-image-container img {
  width: 100%;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.input-avatar-container {
  width: 5rem;
  height: 5rem;
  border-radius: 999px;
}
.input-avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  object-fit: cover;
}
.avatar-container input {
  flex-grow: 1;
}

.single_underline {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #3e3e40;
}
