.submit-button {
  cursor: pointer;
  text-transform: capitalize;
  width: fit-content;
  padding: 0.65rem 1.25rem;
  border: 1px solid var(--primary-400);
  border-radius: 10px;
  transition: all 0.5s;
  width: 100%;
}
.submit-button:hover {
  box-shadow: 2px 2px 2px #1f1f1f41;
}

.primary {
  background-color: var(--primary-400);
  color: var(--white);
}

.primary-dark {
  background-color: var(--primary-700);
  color: var(--white);
}
.primary-dark a {
  color: var(--white);
}

.danger {
  background-color: var(--alert-danger);
  color: var(--white);
  border: var(--alert-danger);
}
.secondary {
  background-color: var(--white);
  color: var(--primary-400);
}

.submit-message {
  margin-top: 0.5rem;
}
.success {
  color: var(--alert-success);
}

.fail {
  color: var(--alert-danger);
}
