.profile-container {
  width: 100%;
}
.profile-page-tabs {
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;
}

.profile-page-tabs h2 {
  cursor: pointer;
}

.active {
  padding-bottom: 0.75rem;
  color: #357ec6;
  border-bottom: 3px solid #598edc;
}
