.round-button {
  cursor: pointer;
  text-transform: capitalize;
  width: fit-content;
  padding: 0.65rem 1.25rem;
  border: 1px solid var(--primary-400);
  border-radius: 999px;
  transition: all 0.5s;
}
.round-button:hover {
  box-shadow: 2px 2px 2px #1f1f1f41;
}

.primary {
  background-color: var(--primary-400);
  color: var(--white);
}

.secondary {
  background-color: var(--white);
  color: var(--primary-400);
}
