body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
  color: #3e3e40;
  text-decoration: none;
}

.auth-form-container {
  width: 500px;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 640px;
}
